<template>
  <q-page>
    <img src="assets/hot-potato.gif" v-if="inProgress && hasPotato" @click="pass" />

    <q-btn color="white" text-color="black" label="Ready" @click="isReady" />

    <q-list bordered separator>
      <q-item clickable v-ripple :class="{ me: player.id === $socket.id }" :active="player.canStart" active-class="text-green" v-for="player in playersRankedThisGame" :key="player.id">
        <q-item-section avatar>
          <q-icon name="signal_wifi_off" />
        </q-item-section>
        <q-item-section>{{ player.id }}</q-item-section>
        <q-item-section side>
          {{ player.timeThisRound }} / {{ Math.round(player.timeTotal / player.gameCount) }}
        </q-item-section>
      </q-item>
    </q-list>
    </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      players: [],
      ready: false,
      inProgress: false,
      hasPotato: false,
      countdown: 3
    }
  },
  computed: {
    playersRankedThisGame () {
      return this.players.slice().sort((a, b) => {
        return (b.timeThisRound > a.timeThisRound) ? 1 : -1
      })
    }
  },
  mounted () {
    let _this = this
    this.$socket.on('players', function (data) {
      console.log('DATA', data)
      _this.players = data
      console.log('PLAYERS', _this.players)
    })
    this.$socket.on('countdown', function (data) {
      console.log('COUNTDOWN', data)
      _this.countdown = data
      if (data === 0) {
        _this.inProgress = true
      }
    })
    this.$socket.on('hasPotato', function (data) {
      console.log('hasPotato', data)
      if (_this.$socket.id === data[0]) {
        _this.hasPotato = true
      } else {
        _this.hasPotato = false
      }
      _this.players = data[1]
    })
    this.$socket.on('end', function (players) {
      console.log('end', players)
      _this.players = players
      _this.inProgress = false
    })
  },
  methods: {
    isReady () {
      this.$socket.emit('ready', !this.ready)
      this.ready = !this.ready
    },
    pass () {
      this.$socket.emit('pass')
      this.hasPotato = false
      this.ready = false
    }
  }
}
</script>
