<template>
  <q-page>
    <p v-for="game in games" :key="game.id">{{ game.id }}</p>
    <p v-if="games && games.length === 0">No Games</p>
    <q-btn @click="createGame">Create Game</q-btn>
  </q-page>
</template>

<script>
export default {
  props: ['noOfPlayers', 'games'],
  data () {
    return {}
  },
  created () {
    this.$socket.emit('game-lobby')
  },
  methods: {
    createGame () {
      this.$socket.emit('create-game')
    }
  }
}
</script>
