<template>
  <q-page class="">
    <img src="https://fig.ams3.digitaloceanspaces.com/hot-potato/hot-potato.gif" v-if="mode === 'playing' && hasPotato" @click="pass" />
    <q-list bordered separator>
      <q-item clickable :class="{ me: player.id === $socket.id }" :active="player.canStart" active-class="text-green" v-for="player in players" :key="player.id">
        <q-item-section avatar>
          <q-icon name="signal_wifi_off" />
        </q-item-section>
        <q-item-section>{{ player.id }}</q-item-section>
        <q-item-section side>
          {{ player.timeThisRound }} / {{ Math.round(player.timeTotal / player.gameCount) }}
        </q-item-section>
      </q-item>
    </q-list>

    <q-btn :disabled="mode === 'playing'" @click="setReadyToPlay" :class="'bg-' + (readyToPlay ? 'positive' : 'negative')">Ready</q-btn>
    <h3>There are {{ players.length }} playing right now</h3>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      id: null,
      readyToPlay: false,
      hasPotato: false,
      mode: 'lobby',
      players: []
    }
  },
  mounted () {
    let _this = this
    this.id = this.$socket.id
    console.log('id', this.$socket.id)
    //  players
    this.$socket.on('players', function (data) {
      _this.players = data.players
      data.players.forEach(element => {
        if (element.id.toString() === this.id.toString()) {
          _this.readyToPlay = element.readyState
        }
      })
    })
    //  start
    this.$socket.on('start', function (data) {
      _this.players = data.players
      _this.mode = 'playing'
    })
    //  has potato
    this.$socket.on('has-potato', function (data) {
      console.log('I have the potato', data.players)
      _this.players = data.players
      if (data.current.toString() ===
        this.id.toString()) {
        _this.hasPotato = true
      } else {
        _this.hasPotato = false
      }
      // _this.mode = 'playing'
    })
    this.$socket.on('end', function (players) {
      console.log('end', players)
      _this.players = players
      _this.mode = 'lobby'
    })
  },
  methods: {
    setReadyToPlay () {
      console.log('setReadyToPlay')
      this.readyToPlay = !this.readyToPlay
      this.$socket.emit('change-ready-state', this.readyToPlay)
    },
    pass () {
      this.$socket.emit('pass')
    }
  }
}
</script>
